{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
{% load fontawesome %}
{% fontawesome_stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>


<body>
{#navbar section#}
<nav class="navbar navbar-expand-lg menu-bar">
    <ul class="nav nav-tabs">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list_tweets' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'profile' %}"> Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          {% if user.is_authenticated %}
        <a class="nav-link" href="/accounts/logout/">Logout as {{ user }}</a>
          {% else %}
          <a class="nav-link" href="/accounts/login/">Login</a>
          {%  endif  %}
      </li>
    </ul>
</nav>
<br>
{#Bio section#}

<div class="container">
    <div class="row ">
        <div class="col">
        </div>
        <div class="col-md-6 bio">
{#        bio information#}
            <img class="rounded-circle profile-image" src="{{ user.profile.image.url  }} ">
            <h5 class="">{{ user.username }}</h5>
            <h5 class="">{{ user.email }}</h5>
            <h5>Followers: {{ followercount }} </h5>
{#tweets and retweets of the user#}
            <ul class="list-group listoftweets">
                {% for  tweet in tweets %}
                    {% if tweet.user == user %}
                          <a  href= "{% url 'view_tweet' tweet.tweet_id %}" class="list-group-item list-group-item-action usertimelinetweets"><br>  <img class="rounded-circle  index-image-profile" src="{%  static user.profile.image.url %}"><br><span class="spanforuser"> {{ user }} <br></span> <br>{{ tweet.tweet_text }}  <br><span> <i class="fa fa-comments indexicons" style="font-size:15px" aria-hidden="true"> {{ tweet.reply_count }}</i><i class="fa fa-retweet indexicons" style="font-size:15px"> {{ tweet.retweet_count }}</i></span></a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
