{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
{% load fontawesome %}
{% fontawesome_stylesheet %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}">

<body>
<nav class="navbar navbar-expand-lg menu-bar">
    <ul class="nav nav-tabs">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list_tweets' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'profile' %}"> Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'newusers' %}"> Look and Follow Users <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          {% if user.is_authenticated %}
        <a class="nav-link" href="/accounts/logout/">Logout as {{ user }}</a>
          {% else %}
          <a class="nav-link" href="/accounts/login/">Login</a>
          {%  endif  %}
      </li>
    </ul>
</nav>
<br>
<!-- Search form -->
<a href="{% url 'create_tweet' %}">
<div class="md-form mt-0 search">
  <input class="form-control" type="text" placeholder="Whats on your mind?" aria-label="Search">
</div>
</a>
<div class="navbar navbar-expand-lg">
    <ul class="list-group listoftweets">
         {% for  tweet in tweets %}
{#             if it is a tweet#}
             {% if tweet.is_tweet == 1  %}
                <a href= "{% url 'view_tweet' tweet.tweet_id %}" class="list-group-item list-group-item-action tweetitem"><br>  <img class="rounded-circle  index-image-profile" src="{{ tweet.user.profile.image.url }}"><br><span class="spanforuser"> {{ tweet.user }} <br></span> <br>{{ tweet.tweet_text }}  <br><span> <i class="fa fa-comments indexicons" style="font-size:15px" aria-hidden="true"> {{ tweet.reply_count }}</i><i class="fa fa-retweet indexicons" style="font-size:15px">{{ tweet.retweet_count }}</i>
</span></a>
                   {% if tweet.user == request.user %}
                       <a class="btn btn-primary btn-sm deletebutton" href="{% url 'delete_tweet'  tweet.tweet_id %}" role="button"> Delete this tweet</a>
                  {% endif %}
                 <a href="{% url 'bio_page' tweet.user %}" class="btn btn-light profile-link">See user bio</a>
            {% endif %}
{#             if it is a retweet#}


             {% if tweet.is_retweet == 1  %}

                 <a href= "{% url 'view_tweet' tweet.original_tweet_id %}" class="list-group-item list-group-item-action tweetitem"><p>{{ tweet.user }} retweeted:</p><br>  <img class="rounded-circle  index-image-profile" src="{{ tweet.user.profile.image.url }}"><br><span class="spanforuser"> {{ tweet.user }} <br></span> <br>{{ tweet.tweet_text }}
                    <span class="orginaltweetlink"> See Original Tweet </span>
                 </a>
                 {% if tweet.user == request.user %}
                       <a class="btn btn-primary btn-sm deletebutton" href="{% url 'delete_tweet'  tweet.tweet_id %}" role="button"> Delete this tweet</a>
                  {% endif %}
                 <a href="{% url 'bio_page' tweet.user %}" class="btn btn-light profile-link">See user bio</a>



             {% endif %}
         {%  endfor %}
    </ul>


</div>
</body>

