{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}">

<body>
<nav class="navbar navbar-expand-lg menu-bar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/twitter/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login/">Login</a>
      </li>
    </ul>
</nav>
<br>
<div class="navbar navbar-expand-lg">

    <ul class="list-group listoftweets">
         {% for  tweet in tweets %}
            <li class="list-group-item tweetitem ">{{ tweet.tweet_text }}</li>
{#             <a class="btn btn-primary btn-sm" href="{% url 'delete_tweet'  tweet.tweet_id %}" role="button"> delete this tweet</a>#}
            <br>
        {%  endfor %}

    </ul>

{#    <a href={% url 'create_tweet' %}>Create a tweet</a>#}
</div>
</body>

