{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}">

<body>


<nav class="navbar navbar-expand-lg menu-bar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/twitter/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login/">Login</a>
      </li>
    </ul>
</nav>
    <ul>
         {% for  tweet in tweets %}
            <li>{{ tweet.tweet_text }}</li>
             <a href="{% url 'delete_tweet'  tweet.tweet_id %}"> delete this tweet</a>
        {%  endfor %}
    </ul>

    <a href={% url 'create_tweet' %}>Create a tweet</a>
<nav>

</nav>
</body>

