{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}">

<body>



 <div class="login-customized newtweeet" >
    <form method="POST" action="{% url 'create_retweet' id %}" >
        {%  csrf_token %}
        <br>
        <div class="form-group">Tweet:   {{form.tweet_text}}
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Post tweet">
    </form>
 </div>
</body>