{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
{% load fontawesome %}
{% fontawesome_stylesheet %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}">

<body>
<nav class="navbar navbar-expand-lg menu-bar">
    <ul class="nav nav-tabs">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list_tweets' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          {% if user.is_authenticated %}
        <a class="nav-link" href="/accounts/logout/">Logout</a>
          {% else %}
          <a class="nav-link" href="/accounts/login/">Login</a>
          {%  endif  %}
      </li>
    </ul>
</nav>
<br>
{##}
{#    <div class="viewtweet list-group-item list-group-item-action">#}
{#         <p>{{  tweet.tweet_text }} </p>#}
{#         <i class="fa fa-reply" aria-hidden="true"></i>#}
{#    </div>#}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6 viewtweet">
                <img class="rounded-circle  index-image-profile" src="{{ tweet.user.profile.image.url }}">
                <br>
                 <p>{{  tweet.tweet_text }} </p>
                 <a href="{% url 'create_reply' tweet.tweet_id %}"><i class="fa fa-reply replyicon indexicons" style="font-size:15px" aria-hidden="true"> {{ tweet.reply_count }}</i></a>
                 <a href="{% url 'create_retweet' tweet.tweet_id %}"><i class="fa fa-retweet indexicons" style="font-size:15px">  {{ tweet.retweet_count }}</i></a>

                 <ul class="list-group listoftweets">
                     {% for  reply in replies %}
                         {% if reply.is_reply == 1 %}
                            <p class="list-group-item list-group-item-action reply">{{ reply.tweet_text }}</p>
                         {% endif %}
                     {%  endfor %}
                 </ul>
            </div>
            <div class="col"></div>
        </div>
    </div>




</body>