body{
    background-color: #ccfff3;
}


.tweetitem{
    width: 600px;

    margin-left: 366px;
}



.menu-bar{
    background: white;
    width: 600px;
    margin: auto;
}

.login-customized{
    width:300px;
    margin: auto;
}

