body{
    background-color: #ccfff3;
}


.tweetitem{
    width: 600px;

    margin-left: 366px;
}

.viewtweet{
    width: 600px;
    margin-left: 384px;
    background-color: #ededed;
    color: black;
    padding: 20px;
    padding: auto;
}


.menu-bar{
    background: white;
    width: 600px;
    margin: auto;
}

.login-customized{
    width:300px;
    margin: auto;
}

